*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	background: #B0E0E6;
	display: flex;
}
.header_logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 10%;
}
nav{
	margin-top: 56px;
	margin-left: 29%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 25px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 3px solid #4682B4;
}
.topnav .icon{
	display: none;
}
@media screen and (max-width: 1018px){
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 887px){
	nav{
		margin-left: 10%;
	}
}
@media screen and (max-width: 776px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 240px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}
